[2018-03-13 16:08] raveclassic opened #1 "Add docs and examples"
- cover the code with jsdoc
- add some examples to description of the types

[2018-03-13 16:10] raveclassic opened #2 "Add tests"

[2018-03-20 09:13] raveclassic commented on #2
done in master

[2018-03-20 09:13] #2 closed

[2018-05-21 10:54] raveclassic opened #5 "Rename altL to orElse and accept failure in callback"
- to be more aligned with `fp-ts`

[2018-08-16 09:26] OliverJAsh opened #9 "Add progress to RemotePending"
I want to record the progress of an (upload) request, however currently `RemotePending` does not store any value for itself.

Example of a remote data type which has this: https://github.com/cyclejs-community/cycle-remote-data

https://github.com/cyclejs-community/cycle-remote-data#whencases-casest-u-u

Related https://github.com/krisajenkins/remotedata/issues/25

[2018-08-16 10:13] raveclassic commented on #9
@OliverJAsh This looks more like success state:
[code]

Conceptually `RemotePending` describes initial loading of some piece of data and tracking progress IMO relates more to resolved (`RemoteSuccess`) state.

[2018-08-16 10:47] raveclassic opened #10 "Remove RemoteInitial state"
In practice `RemoteInitial` doesn't represent any useful data state. Historically it was introduced basing on the article and to describe initial value in angular2 property bindings in classes.
However in 100% cases initial state is actually `RemotePending`.

This issue should gain some feedback before removing.

[2018-08-16 11:34] OliverJAsh commented on #9
That initial loading will have a progress though?

For context, I want to use this to track the progress of a file upload. The request is pending whilst the file uploads—it could still fail.

[2018-08-16 15:41] raveclassic commented on #9
@OliverJAsh Makes sense... Still it will be a massive breaking change for our codebase to add an argument to `pending`. What do you think about adding optional argument to `RemotePending` constructor defaulting to zero and introducing new helper `progress(value: number): RemotePending`?

[code]

Also we should think about `Apply` instance (and others). How such pendings with progress will be combi

[2018-08-16 15:55] OliverJAsh commented on #9
Good idea.

Do we need to make it explicit that the progress is for uploading (as it's typically derived from `xhr.upload.onprogress`, which emits `ProgressEvent`)? Perhaps:

[code]

[2018-08-17 10:35] raveclassic commented on #9
@OliverJAsh Progress can also be tracked for downloading, not only uploading, so I'd rather stick to `progress: number` argument. Is there anything else that should be tracked except this number?

[2018-08-17 10:41] OliverJAsh commented on #9
True, in that case, what about a request where we want to track the progress of both uploading and downloading? We need two pieces of state I think?

Maybe we can also include the other properties of `ProgressEvent`: https://developer.mozilla.org/en-US/docs/Web/API/ProgressEvent

[2018-08-17 10:55] raveclassic commented on #9
Could you provide an example of such request?

This doesn't play well with `RemotePending` default value. `Option` looks more like a crutch.

[2018-08-17 11:36] OliverJAsh commented on #9
Sorry but can you elaborate?

I can't, sorry! Make it could be confusing if there was one `progress` state, that could be either the upload or download, depending on the implementation.

[2018-08-17 11:43] raveclassic commented on #9
I mean that if you already are in a pending state then `progress === none` makes no sense.

[2018-09-02 18:49] scink commented on #10
how about mark as 'deprecated' first?

[2018-09-17 09:53] moljac024 commented on #10
I don't necessarily agree with this. Conceptually `RemotePending` and `RemoteInitial` are indeed two distinct states.

It's easy enough to treat them the same when you want to, but if you need the distinction and it's not there you're stuck.

[2018-09-17 18:09] sutarmin commented on #10
@moljac024 if I would need to distinguish "loading" and "loading not started yet" I will probably use `Option<RemoteData>` because when loading not started, there is no `RemoteData` yet.

[2018-09-17 19:58] scotttrinh commented on #10
@sutarmin

True, but isn't `RemoteInitial` more precise than `Option<RemoteData>`? And on top of that precision, removing it is a huge breaking change. And for what?

@raveclassic

Perhaps to the view layer they're often the same, but if you're using something like Redux or any other state management pattern, there is a real difference. Namely, you have some initial state that doesn't get loaded u

[2018-09-19 11:41] raveclassic commented on #9
@OliverJAsh What do you think about making `total` an `Option` if `lengthComputable` is false?
[code]

[2018-09-19 16:55] scotttrinh commented on #10
@raveclassic

I _do_ like that pattern, but what about non-collection-like entities such as `/me`? I'd imagine that'd be modeled more like:

[code]

And for the case where you're not logged in, it would stay `RemoteInitial`.

[2018-09-19 17:53] raveclassic commented on #10
I'd model it differently - if you are not logged in, then you have no (and should not) access to `me` at all.

Then when you're successfully logged in you (possibly) mount some "user profile" container which is able to fetch that `me` data _starting with pending_.

This is easily applied to rxjs and decentralized state-containers/services/models, but not to a single global redux store.

[2018-09-20 09:37] OliverJAsh commented on #9
@raveclassic Sounds sensible to me.

I still wonder if we need to allow for upload/download progress simultaneously, or at least to help disambiguate whether the progress signals an upload or download. 🤔

Hmm, I see your point. OTOH, I don't think all requests emit a `ProgressEvent` (although I might be wrong), in which case I wouldn't expect a value.

[2018-09-20 10:41] raveclassic commented on #9
I think it's not responsibility of RemoteData but of the process itself.

Agree, you are right since RemoteData is not only about XHR.

Summing up, is the following correct?
[code]

Would you like to open PR?

[2018-09-20 11:30] scotttrinh commented on #10
@raveclassic

Good point! I still don't think you would "start with pending" in Redux (at least I wouldn't in my current app) until some component mounted that called the action that actually made the request, but I can see where you're coming from.

I suppose my point (to mirror what @moljac024 has already said) is that `RemoteInitial` is indeed a separate/distinct state, and further, it's a pret

[2018-09-20 12:58] raveclassic opened #11 "Popovers with Scrollable inside are immediately closed when opened"
Looks like recent updates to popover tracking on container scoll (with capturing) break popovers with scrollable inside.
- popover is opened
- scrollCapture handler is attached to container (window by default)
- Scrollable is mounted and resize-detector is attached using ScrollStrategy which emits scroll event when installed
- scroll event inside popover is captured by handler
- popover is immedia

[2018-09-20 12:58] #11 closed

[2018-09-20 12:58] raveclassic commented on #11
this is a wrong repo

[2018-09-21 10:19] raveclassic commented on #9
Here're my observations, need help with **???**:

`none + some({ loaded: 123 }) = some({ loaded: 123 })`
`some({ loaded: 1, total: none }) + some({ loaded: 2, total: none }) = some({ loaded: 3, total: none })`
`some({ loaded: 1, total: some(10) }) + some({ loaded: 2, total: none }) `= **???**

and the most tricky
[code]

/cc @sutarmin @igoralekseev @mankdev

[2018-09-21 10:52] raveclassic opened #12 "Add "recover" method"
Sometime we need to process `RemoteFailure` and return RemoteSuccess with some boolean flag, for example process `RemoteFailure<AjaxError, boolean>` 401 status and return `const isAuthorized = success(false)`.

We should add a method called `recover` (may be discussed) accepting a callback transforming error to smth valueable. Similar to `Filterable.filterMap` such callback should return `Some` wh

[2018-09-21 11:00] sutarmin commented on #9
I think summing up proportionally would be the best strategy here.
??? looks like `{ loaded: 3, total: none }`. Not enough data to assume smth better.

[2018-09-21 11:03] raveclassic commented on #9
@sutarmin Makes sense
@OliverJAsh Is it acceptable for you?

[2018-09-21 11:14] OliverJAsh commented on #9
I'm not sure to be honest. I haven't required that ability yet.

[2018-09-21 21:20] scotttrinh opened #15 "Instance method `.toEither`"
Any thoughts on adding an instance method that maps `RemoteData<L, A>` to `Either<L, A>`? I'd be happy to throw a PR together.

[2018-09-24 10:57] #9 closed

[2018-09-24 13:30] scotttrinh commented on #15
Excellent question. 🤔

Maybe the signature would require a function for each of those two cases?

[code]

Totally contrived example:

[code]

Perhaps not all that helpful? Easy enough to make a separate function for each case.

[2018-09-24 13:54] raveclassic commented on #15
Could you please describe your usecase? Do you really need to convert `RemoteData` context to less powerful `Either`? Even existing `toOption`/`toNullable` seem to be a bad practice because they allow you to drop parts of the context.

[2018-09-24 18:52] scotttrinh commented on #15
I use `toOption` all of the time when I want to do the same thing to `initial`/`pending`/`failure` and another to `success`. My thought around `toEither` is to have something in between that can account for `failure` separately.

Like I said, it's easy enough to create this as a function, so if it's not in scope for this library, that's fine. Just figured since `toOption` already existed, a simila

[2018-09-25 09:54] #12 closed

[2018-09-25 10:00] raveclassic commented on #15
Could you provide an example? Seems like either we don't use `toOption` in our codebase at all or such places are considered deprecated and invalid because of unnecessary context destruction.

The problem is that `toOption` was introduced to replicate `Either` API from `fp-ts` and is now considered bad practice (in our codebase). Even more I believe it should be deprecated.

/cc @mankdev @sutarmin

[2018-09-25 10:48] sutarmin commented on #15
I would keep `toOption` because there are cases.
Consider we have UI component which accepts value wrapped into `Option` and just renders a placeholder if the value is `none`. Now we want to render data from API using this component. Without `toOption` we would have:

[code]
So it does make sense to me.
The same for `toEither`, there could be cases.

I believe the question here is "Do we want to h

[2018-09-25 10:54] raveclassic commented on #15
@sutarmin This is _incorrect_ because you should use `renderRemoteData` to render `RemoteData` instead of destroying the context.

This is not the question of integration because `Either.toOption` is absolutely valid as the value of `Either` (or error) is always resolved while `RemoteData` context adds an unresolved state to the value. IMO such case should not be treated as `None` because `RemoteI

[2018-09-25 10:57] scotttrinh commented on #15
To be fair, I'm using a [fork](https://github.com/ca-la/remote-data) of this library with an additional state, `RemoteRefresh`, that kind of acts like a `RemotePending` but with (potentially stale) data. I'm considering adding the `toEither` method in my fork, and want to offer it "back upstream".

My current use-case involves setting data to `pending | refresh` depending on whether there is exist

[2018-09-25 11:03] scotttrinh commented on #15
I would say that the idea of mapping between domains and loosing structure is a pretty common practice, so I don't personally have a problem with that. `Const`, for instance, is an example of something useful that maps everything into a single value. Not a big deal if it's not an instance method since the ergonomics of using a function is just as good, and this doesn't need access to some hidden i

[2018-09-27 07:40] raveclassic commented on #15
@scotttrinh Well the main goal of this project is to be 100% typesafe, not to force some design patterns. It should be up to developer how to use `RemoteData` so I think it's ok to provide such API. Would you like to oper PR?

[2018-09-27 13:00] scotttrinh commented on #15
I'd be happy to open a PR. Do you think the `fold`-like behavior for mapping the `initial` and `pending` states makes sense? You could also just have a single function or value that represents both states.

[2018-09-27 13:08] raveclassic commented on #15
@scotttrinh I think if we distinguish `RemoteInitial` and `RemotePending` then we should also processs them separately. A method signature could be:
[code]

[2018-09-27 13:17] raveclassic commented on #15
Or even:
[code]

[2018-09-28 01:11] scotttrinh commented on #15
@raveclassic

Oh, I like having `toEither` and `toEitherL`! Do we think it's necessary that `initial` and `pending` have type `L` or could it be `L | A`?

[2018-09-28 10:46] scotttrinh commented on #15
Nevermind! The extra runtime overhead and complexity isn't worth the extra flexibility, and there are often cases where `L` and `A` are the same type, so `initial` and `pending` both mapping to `Left<L>`.

[2018-09-28 13:19] #15 closed

[2018-10-22 09:26] mlegenhausen opened #18 "fold pending parameter should provide progress"
Currently it is not possible to access the `progress` inside the `fold` and `foldL` method.

Expected:

[code]

[2018-10-22 13:42] raveclassic commented on #18
@mlegenhausen Thanks! Would you like to open PR?

[2018-10-22 14:40] mlegenhausen commented on #18
See #20

[2018-10-22 14:40] #18 closed

[2018-11-10 12:04] giogonzo opened #22 "question about representing "pending+data" state"
Have you avere considered adding a case representing a state where we have some data (success or failure that is) and also we are re-fetching a remote resource?

I've never used this library so I must be missing something, but the need for this case comes up from time to time in the applications I work on, e.g. show some data but also notify the user with a "soft loading"/"syncing" state.

Any sug

[2018-11-10 12:11] giogonzo commented on #10
Not a real user of this library, just adding my two cents based on a quick experiment with it:

@raveclassic

I found myself using `RemoteInitial` as the initial value for a `BehaviorSubject` (not directly exposed to consumers of the data, but handy for internal representation the lib)

@scotttrinh

Related to my point above, I did exactly this: expose the behavior subject `asObservable<Pending |

[2018-11-20 07:41] scink opened #23 "'io-ts' and 'io-ts-types' are missing"
because of **remote-data-io.ts** import in **index.ts** packages **io-ts** and **io-ts-types** became required. but they are in **peerDependencies** and NPM doesn't install them. that forces to install unnecessary for project packages manually. removing **index.ts** will fix it

[2018-11-20 08:04] sutarmin commented on #23
`main` in `package.json` must be returned back to `dist/remote-data.js`. `io-ts` type must be imported from `remote-data-ts/remote-data-io` directly. This will be a breaking change. /cc @mlegenhausen

[2018-11-20 10:11] raveclassic commented on #23
This is a regression after #19

[2018-11-20 11:07] mlegenhausen commented on #23
@raveclassic I like the third solution.

[2018-11-20 11:15] raveclassic commented on #23
So after a brief discussion it was decided to move peer-dependencies to dependencies.
@scink Could you update #24 (and rename) accordingly?

[2018-11-20 11:16] scink commented on #23
sure

[2018-11-20 11:49] #23 closed

[2018-11-27 15:58] mlegenhausen opened #25 "Add monocle-ts Optional"
What do you think about adding support for `monocle-ts` via an `Optional`?

[code]

[2018-12-14 23:50] quicksnap opened #26 "RemoteData Applicative ordering"
Currently, the applicative priority of RemoteData is `initial > (pending, failure, success)`. Example:

[code]

It makes more sense that any `failure` should result in `failure`. Then, any `pending`, then `initial`, and finally `success`.

Thoughts?

[2018-12-15 13:35] raveclassic commented on #26
Thanks for the question.

Well I think that if we have a list of RemoteDatas and at least one of them hasn't been loaded yet (resolved) then we should treat the whole list as RemotePending because we can't say wether everything is RemoteSuccess ot RemoteFailure. The same applies for RemoteInitial (we don't have anything at all) so I'd say this is by design.

[2018-12-15 21:42] quicksnap commented on #26
I suppose my reasoning is that, if we have a list of Successes and Failures, we would obviously show it as a failure. So, if we have a list of Successes, Failures and Pending, no matter what the outcome of that Pending, it  will ultimately resolve to Failure anyway.

In practice, when we have a list of RemoteDatas that is meant to be represented as a single unit, once one fails, we want to display

[2018-12-17 02:56] joshburgess commented on #26
@raveclassic I think I agree with @quicksnap 's reasoning here, but it depends on what we want the fail-fast case to be, right?

When thinking about sequencing/traversing Options the fail-fast case is None. When thinking about sequencing/traversing Eithers the fail-fast case is Left. So, both of these treat the "left" or "failure" side of the branch as the fail-fast case.

It seems like your requi

[2018-12-17 03:04] joshburgess commented on #26
I thought it might be a good idea to check other implementations to see what they do. If we look at the `apply` implementation for RemoteData in PureScript, it seems that any combination including a `Failure` results in a failure overall. This is what I would expect.

https://github.com/krisajenkins/purescript-remotedata/blob/master/src/Network/RemoteData.purs#L58-L65

[2018-12-17 04:04] quicksnap commented on #26
To recap the reasoning: once a failure has arrived, the outcome of that entire sequence is forever Failure so long as one exists, so any pending/initials are inconsequential to a sequence.

[2018-12-17 10:17] raveclassic commented on #26
Yeah I see it makes sense. So what should the correct priority? `Failure > Pending > Initial > Success`?

[2018-12-17 11:35] sutarmin commented on #26
Makes sense for me too, nothing to add

[2018-12-17 11:59] raveclassic commented on #26
@quicksnap So if you're ok with the priority would you like to open PR?

[2018-12-17 12:48] gcanti commented on #26
@raveclassic IMO the current implementation is ok, its behaviour is consistent with the following:

`RemoteData<L, A>` is isomophic to `Option<Option<Either<L, A>>>`

[2018-12-17 12:57] raveclassic commented on #26
@gcanti Well well.. I'm not so strong in maths but why should it be isomorphic?

[2018-12-17 14:19] gcanti commented on #26
@raveclassic

RemoteData<L, A> = 1 + 1 + L + A
Option<Option<Either<L, A>>> = 1 + (1 + (L + A))

[code]

If you execute `sequence` on

[code]

what's the result? `failure('foo')`? However you must "wait for" `data[0]` to complete in order to get the eventual result

[code]

p.s.
This doesn't mean that you can't define other useful `Applicative` instances, just that the current one makes sense to m

[2018-12-17 15:17] raveclassic commented on #26
@quicksnap @joshburgess What do you think?

[2018-12-17 15:58] joshburgess commented on #26
Hmmm, I guess that does make sense, but I think that, from a performance/usability perspective, failing-fast on any combination including a Failure seems like the more useful implementation. I mean, it seems like the functionality that we'd want most of the time. Why wait on currently in flight requests if we already have a Failure? Or... why fire off NotAsked, aka Initial, requests if we already

[2018-12-17 17:15] sutarmin commented on #26
@joshburgess I thought absolutely the same way. But logic like canceling requests is not about `RemoteData`. And if we think about UI representation of your combined RDs, then in case of "fast-fail" applicative you will have UI-shown error that changes over time. If we use the new ordering:
[code]
The user has the first error, then somehow it changes to the other one. I find this behavior pretty w

[2018-12-17 17:45] quicksnap commented on #26
@sutarmin in the use case of `sequence`, the UI would not usually show specifics for the error, since it would not get a collection of them all. So, `failure('foo')` vs `failure('bar')` likely makes no difference to what is displayed, since the user who called `sequence` should expect they will never receive every `failure` anyway.

[2018-12-17 18:19] quicksnap commented on #26
@gcanti Does this isomorphism make sense for the other side of the discussion?

[code]

[2018-12-18 21:38] quicksnap commented on #26
@raveclassic What should the action be on this? Do we want to change the existing behavior? I'd be happy to make the changes, but it would be a breaking change somewhat, since the behavior would be slightly different.

[2018-12-18 21:49] raveclassic commented on #26
@quicksnap Yeah I'm afraid this's going to be a massive breaking change for us because all our projects rely on the fact that Pending has a higher priority.
Could we think about smth like adding several additional instanses of Apply for RemoteData which would not change the current behavior? If yes, what name could we pick for such different behavior?

[2018-12-18 21:59] quicksnap commented on #26
@raveclassic 	from a consumer standpoint, how would opting in to those different `Apply` work?

[2018-12-20 19:39] raveclassic commented on #25
Thanks for suggestion and sorry for such long answer. Unfortunately I don't think it's a good idea to add `monocle-ts` to dependencies. Yeah I'm ok with `io-ts` because it is related to the data structure (serialization/deserialization). But I don't see any relation to optics especially if the suggested function is trivial.

[2018-12-20 19:40] #25 closed

[2019-01-07 08:34] giogonzo commented on #26
Something similar is already happening in `fp-ts` with `Task` and `TaskEither`, see e.g. https://github.com/gcanti/fp-ts/blob/master/src/Task.ts#L186-L194

[2019-01-10 10:38] raveclassic commented on #26
I can't think of a proper name for such a "failing-fast" instance. Maybe `remoteDataFast`?

[2019-01-11 07:39] joshburgess commented on #26
Maybe, something like `remoteDataFailureBiased` or `remoteDataFailFast`?

People who use it will probably use the `as` keyword to alias it as something shorter, like `remoteData` or `remoteData_` or something anyways.

[2019-01-17 02:55] baetheus commented on #10
@raveclassic

1. Queues: throttling an array of requests, two to three at a time, from a list of 20 or more. Not all requests are in pending immediately and the initial state represents their being queued but not in progress.
2. Chains: when one request must be completed before another but the data is stored separately but is contingent upon the first being completed.
3. Authorization information

[2019-01-17 09:37] sutarmin commented on #10
Oops, sorry.

@raveclassic I caught myself thinking that we are trying to restrict ways RemoteData can be used without any profit from it. It is just a data structure, I think the argument "You can remodel your data to go without `RemoteInitial`" is not valid here. If it's convenient to use `RemoteInitial` with some approaches, why not to allow it? You see, folks have cases to use it :)

[2019-01-21 19:46] joshburgess commented on #26
I created a PR to continue this discussion: https://github.com/devex-web-frontend/remote-data-ts/pull/27

[2019-01-23 09:50] raveclassic commented on #26
So we're fine with changing the priority. Feel free to open PR.

[2019-01-27 10:31] joshburgess commented on #26
I ended up tackling all of those things we mentioned in that closed PR all at the same time: changing the `ap` implementation, updating TypeScript, migrating from `Traversable` to `Traversable2v` (which also involved migrating to `Foldable2v`),  and adding a `Bifunctor` instance.

I'm almost done. I just need to add tests for the new things now. I should have the PR up within the next day or two.

[2019-01-28 00:33] joshburgess commented on #26
New PR open 👍 https://github.com/devex-web-frontend/remote-data-ts/pull/28

[2019-01-29 10:46] fes300 opened #30 "Synthetic fold"
hi @raveclassic,
first of all, thank you for this piece of code, it defines a very complete and clean interface for dealing with IO data.

In most of the apps I design, when I fetch data the `initial` case does not need to be handled (data is fetched as soon as a view is loaded so I want to handle only the `loading`, `failure` and `success` cases). As this is true for 95% of my use cases, it seems

[2019-01-29 15:14] raveclassic commented on #30
@fes300 Well this is completely related to #10

[2019-01-29 17:35] fes300 commented on #10
Hi everybody, I'll write here what I (wrongly) wrote in a separate issue

I borrow from both positions as I can see potential use cases of `RemoteInitial` but I also feel that it is a "second class" citizen compared to the other tags. I also feel that with the current implementation the `fold` function is overly verbose most of the times (you always have to handle `RemoteInitial` even though you r

[2019-01-29 17:35] fes300 commented on #30
totally, I wrote my comment there you can close this 👍

[2019-01-30 19:11] #26 closed

[2019-04-23 22:21] sutarmin commented on #5
Did I get it right that `altL` is calling its callback for all `RemoteData` "states" except `RemoteSuccess` but `orElse` should call its callback only when RD is `RemoteFailure` state?

[2019-05-07 06:51] gcanti opened #31 "Possible bug in remote-data-io.ts"
I think I found a bug while trying to upgrade this library to fp-ts@2

[Here](https://github.com/devex-web-frontend/remote-data-ts/blob/9d2d0f2bec494a033f10f2659eb456c0f781dcdd/src/remote-data-io.ts#L119)

`JSONProgress.encode` outputs a `{ loaded: number; total: number | null; } | null` but should be a `RemoteProgress | null` and `RemoteProgress` is defined as

[code]

Repro

- install `io-ts-typ

[2019-05-14 12:03] raveclassic commented on #31
Thanks @gcanti
Yeah, this is because `JSONRemoteData` refers to `RemoteProgress` which uses `Option` in `total` field. Looks like this result in an error with latest `io-ts-types`. I'll fix it and release a minor with updated versions of all related libs.

[2019-05-26 11:10] #31 closed

[2019-06-18 14:28] YBogomolov commented on #10
I don't agree that `RemotePending` is the initial state. We use RemoteData in React+Redux app, and our use case is the following:
1. Initially all network-related store fields are set to `initial` to represent the fact that the user hasn't requested data loading. Folding over this state results in rendering a button-ish element which dispatches action for loading data.
2. After such action is disp

[2019-06-26 07:52] mlegenhausen opened #33 "fp-ts@2"
Are there any plans to port this library to `fp-ts@2`? I could provide a pull request to make it both `fp-ts@1` and `fp-ts@2` compatable.

[2019-06-26 08:23] raveclassic commented on #33
Hi @mlegenhausen, sure we have plans to upgrade to `fp-ts@2.0`. However we don't have free time right now to do it.

related https://github.com/devex-web-frontend/dx-platform/issues/137

[2019-08-13 17:03] #33 closed

[2019-08-22 10:34] raveclassic opened #37 "Versioning"
So we are close to releasing `fp-ts@2.x` compatible `RemoteData` right now and it's a massive breaking change. We (and community) definitely won't be able to migrate all the projects soon so we need to support `fp-ts@1.x` version for a while.

We need the ability to release patches _and minors_ for both versions so it looks like we have to release separate majors for both `fp-ts` versions: `remote

[2019-08-23 14:01] #37 closed

[2019-11-30 15:04] OliverJAsh commented on #22
I also need this!

There's some discussion around this idea here: https://github.com/krisajenkins/remotedata/issues/9

[2019-12-02 12:58] raveclassic commented on #22
Hi, sorry for being sooo long with the answer.

At the moment we're not bundling "refreshing" state into the data model because "refreshing" is not needed as a separate state for the data graph and dependant computations in it. It's only needed for UI to still show some stale content while actual data is being reset by the user intent. So we're just keeping old state of `RemoteData` (either error

[2019-12-03 11:44] OliverJAsh opened #41 "Provide version with ES modules"
fp-ts provides a version with ES modules (specified via `module` in `package.jon`), which means tree shaking can work.

What do you think about doing the same thing for this package?

For context: I have a PR to add this library to unsplash.com, but I noticed it's currently bundling all of `io-ts` (because IIUC, tree shaking can't work with CommonJS), even though we're not using any of the io-ts h

[2019-12-03 11:49] OliverJAsh commented on #41
My workaround for now is to import from the submodule:

[code]

Of course this still means we might be importing more than we need, but at least it avoids the `io-ts` import.

[2019-12-03 12:06] raveclassic commented on #41
Hi, @OliverJAsh

I'm definitely for it!
But I'm not sure I have time for it at the moment, would you like to participate? :)

[2019-12-03 12:12] OliverJAsh commented on #41
Absolutely! https://github.com/devexperts/remote-data-ts/pull/42

[2019-12-03 13:10] #41 closed

[2019-12-26 02:35] baetheus commented on #22
I hope @raveclassic doesn't mind, but this exact issue was why I ended up building [@nll/datum](https://github.com/nullpub/datum). The primary difference between the two libraries is that `Datum` encapsulates only only the concepts of temporal data state, ie: initial, pending, refresh, and replete(a term meaning the same thing as complete because I like even line lengths). Then we use the [Either

[2020-02-13 11:27] OliverJAsh opened #46 "Rewrite imports in `es6` folder"
Currently the imports in the `es6` folder reference `fp-ts/lib` when they should reference `fp-ts/es6` (so that tree shaking can work properly), e.g.

https://unpkg.com/browse/@devexperts/remote-data-ts@2.0.3/es6/remote-data.js

[code]

This change has recently been made to other libraries such as io-ts and fp-ts-rxjs, for example: https://github.com/gcanti/fp-ts-rxjs/commit/f35c926d5bea5a91c5af1c

[2020-03-17 12:30] raveclassic opened #48 "Update index exports"
- `index.ts` should reexport as namespaces: `export * as remoteData from './remote-data` instead of unnamed exports.
- `index.ts` should reexport `remote-data-t` as well
This will enable whole-module autoimports from IDE (i.e. `import { remoteData } from '@devexperts/remote-data-ts'`)

[2020-06-15 16:45] larskinn opened #49 "sequenceS and sequenceT from fp-ts Apply gives type errors"
I'm not sure if this is an upstream bug in fp-ts, or if something is wrong with the implementation here.

I would expect `sequenceS` and `sequenceT` to work like they do for `Either`, but instead I get type errors.

[code]

The full error in both cases is:
[code]

Here is a more elaborate codesandbox demonstrating the problem:
  - [for sequenceS](https://codesandbox.io/s/ecstatic-frost-85ifc?file=

[2020-06-17 07:49] raveclassic commented on #49
Looks looks smth in fp-ts changed... I have no error in remote-data master branch, but I do have this error in fp-ts master branch. Need to investigate, thanks for the report!

[2020-06-17 07:59] raveclassic commented on #49
Separate project:
  `fp-ts@2.5.3` - no error
  `fp-ts@2.6.6` - error

[2020-06-17 08:04] larskinn commented on #49
That's interesting. The project where I discovered this problem is still on `fp-ts@2.5.3`. And if I change to that version in the codesandbox, I still get the error 🤔

[2020-06-17 08:08] raveclassic commented on #49
@larskinn could you check `npm ls fp-ts` or `yarn why fp-ts`? Is it possible you have 2 versions of  fp-ts installed so that remote-data and apply reference different HKT dictionaries?

[2020-06-17 08:15] larskinn commented on #49
It does not seem like that's the case.

[code]

[2020-06-17 08:24] raveclassic commented on #49
Yeah, looks so, I also have a single version installed.
Well, the problem is even simpler, HKT constraints do not accept RemoteData URI:
[code]
Usually it's because of 2 versions of fp-ts installed (2 different dictionaries) but it's not the case now.
The problem goes away if we manually redeclare module augmentation:
[code]
This may be used as a temporary quickfix.
But this is very weird since we

[2020-06-17 08:36] larskinn commented on #49
I actually don't get this error, tried with `@devexperts/remote-data-ts@2.0.3` and `fp-ts@2.5.3`, `2.6.5` and `2.6.6`

[2020-06-17 11:39] gcanti commented on #49
@raveclassic not sure what's going on, I encountered this weird thing [once](https://github.com/gcanti/fp-ts/issues/1087#issuecomment-634098510) but I coundn't repro

[2020-06-17 11:50] larskinn commented on #49
@raveclassic re: the URI error, [here's another codesandbox](https://codesandbox.io/s/optimistic-greider-phmby?file=/src/uri.ts), and I can't reproduce it. As mentioned I tried with different fp-ts versions.

I'm far out of my depth re: the actual type class implementations, so I can't be much help there. But let me know if there's anything else I can do to narrow down the issue.

[2020-06-29 14:44] larskinn commented on #49
I was trying to add this to my local branch, and it did not fix the problem. But while trying it out in the codesandbox mentioned above, I discovered this interesting fact:

**If I import `apply` and `either` directly from `fp-ts` instead of `fp-ts/es6`, the type errors go away!**

I also see that `@devexperts/remote-data-ts/es6/remote-data` only imports from `fp-ts/lib/...` and not `fp-ts/es6/...

[2020-06-29 16:58] larskinn commented on #49
The initial reported problem with `sequenceS` and `sequenceT` goes away when the es6 output imports from `fp-ts/es6`. I made a PR.

[2020-07-10 17:42] anthonyjoeseph commented on #25
Isn't RemoteData an ADT? Aren't ADT's [directly related to optics](https://kubuszok.com/2018/adt-through-the-looking-glass/)?

Isn't monocle-ts [entirely dedicated](https://github.com/gcanti/monocle-ts#motivation) to data structure?

Aren't most optics functions ['trivial'](https://github.com/sledorze/morphic-ts/blob/ae5fa8dbece8bd6aca363a617a30d9a10229ed37/packages/morphic-adt/src/monocle.ts#L51)

[2020-07-15 07:26] sutarmin commented on #25
hey, @anthonyjoeseph , thanks for your thoughts! No doubts it's a nice thing to have such helper utilities, but I agree with @raveclassic here that this is not related to core RemoteData logic and should be placed in some external library/end code.

[2020-07-17 01:50] anthonyjoeseph commented on #25
I understand that. Any thoughts about what such an external library might look like? Maybe something like [io-ts-extras](https://github.com/mmkal/ts/tree/main/packages/io-ts-extra)? It seems too specific for [fp-ts-contrib](https://github.com/gcanti/fp-ts-contrib).

Maybe we need a `monocle-ts-contrib`. Does something like this exist already?

Forgive me, I don't mean for this thread to become too

[2020-07-18 20:28] anthonyjoeseph commented on #25
FWIW both the [Elm](https://package.elm-lang.org/packages/krisajenkins/remotedata/latest/RemoteData#prism) and [Purescript](https://pursuit.purescript.org/packages/purescript-remotedata/2.1.1/docs/Network.RemoteData#v:_NotAsked) versions of RemoteData include optics (and the Elm interface even avoids a dependency)

[2020-07-20 10:06] #46 closed

[2020-07-20 10:06] #49 closed

[2020-08-03 13:50] smaccoun commented on #30
While I agree with that issue that we should keep `initial`, still seems to me it would be useful to have this `syntheticFold` idea you propose for situations when we want to treat `initial` and `pending` as identical. Does that method exist? If not, this issue still feels relevant as #10 is debating removing it, while this issue could be about providing a utility method to improve ergonomics for

[2020-08-03 14:38] raveclassic commented on #30
So there's 2 ways of implementing such fold:
[code]

And therefore we have 2 questions:
 - which one should we pick?
 - is it worth adding such one-liner to the core?

[2020-08-03 15:21] smaccoun commented on #30
I'm in favor of the latter if we have to pick one since it provides more capability, but I also think there's a case to be made that both could be useful. If we support both, maybe we could rename the parameters to `onPending` for `fold3` and `onProgress` for `fold3_`?

I was wondering the same. I wonder if it would be nice to just be fairly verbose/explicit and name it something like `foldPending

[2020-08-06 09:07] fes300 commented on #30
Hi everyone, nice to see this picked up again :), here are my 2cents:

I think the second implementation maps better to current implementations / doesn't remove potentially important functionality

I kinda like it actually, it has a "mathy" flavour :)

I still think this is relevant for the ergonomics of the package, I think it is important enough to live in the core

[2020-08-06 11:19] raveclassic commented on #30
Ok guys, feel free to send a PR for this :)

[2020-12-27 14:48] #30 closed

[2020-12-28 13:24] OliverJAsh opened #55 "Import without `/lib` or `/es6` paths like fp-ts now does"
As per https://github.com/gcanti/fp-ts/pull/1241, `fp-ts` now allows imports without `/lib` or `/es6` paths, e.g.

[code]

instead of

[code]

or

[code]

Perhaps we could make the same change to this library. WDYT?

[2021-01-09 15:36] grossbart commented on #22
I created a PR for this functionality (https://github.com/devexperts/remote-data-ts/pull/57), maybe that could be a viable approach. If it isn't I'd be happy for feedback on a) the approach, and b) how else to publish this 😄 I've been using this in our app and it worked well so far.

[2021-03-09 11:41] raveclassic commented on #55
@OliverJAsh Unfortunately I'm not working at Devexperts anymore and I don't have write access to this repo anymore.
Ping @PalmZE

[2021-04-28 14:00] OliverJAsh opened #60 "Suggestion: constructors should receive all generics"
Currently we have this problem:

[code]

This is not a problem when we use `Either` from fp-ts:

[code]

The reason this works with `Either` is because `right` receives the `E` generic:

[code]

However the same cannot be said for `RemoteData.success`—it does not receive the `E` generic:

[code]

It's an easy fix:

[code]

We would make the same change to other constructors like `failure`.

Would

[2021-04-29 08:29] raveclassic commented on #60
Ping @PalmZE

BTW this seems a breaking change

[2021-04-29 12:10] ZUGAZ commented on #55
@OliverJAsh seem OK to me. Create PR and I will assist with merge.

[2021-04-29 12:13] ZUGAZ commented on #60
@OliverJAsh this is good. Create a PR.

[2021-05-04 15:38] OliverJAsh commented on #60
https://github.com/devexperts/remote-data-ts/pull/61

[2021-05-04 15:41] OliverJAsh commented on #55
Thanks. I will just duplicate the infrastructure used by fp-ts, e.g.: https://github.com/gcanti/fp-ts-rxjs/commit/d490d8ccee761f48d624e5e86ad19b0f8729c546.

[2021-05-14 12:12] mlegenhausen commented on #55
@OliverJAsh any progress on this issue?

[2021-05-14 12:20] OliverJAsh commented on #55
Sorry I haven't had a chance to look at it, I'm not sure I will anytime soon.

[2021-07-19 08:51] #60 closed

[2021-07-22 10:19] ZUGAZ commented on #55
Thank you @mlegenhausen @OliverJAsh
Merged #65. Will release soon.

[2021-09-07 09:23] #55 closed

[2021-09-07 09:24] ZUGAZ commented on #55
Released in version 2.1.0

[2021-09-10 10:58] #22 closed

[2021-09-10 11:47] Sky161 commented on #48
#69

[2022-05-06 22:05] Rawnly opened #73 "`TaskRemoteData`"
Hello I'm trying to migrate from `Either` to `RemoteData` but I find hard to replace `TaskEither`. I was wonder if is possible to add a `TaskRemoteData` type. I [tried myself](https://gist.github.com/Rawnly/a5a1bcf81208df42ba971c4a23f4b986) (fp newbie) and I have something working (for my specific usage) but it isn't very complete (it doesn't even fully satisfy `Monad` type).

As non-advanced user

[2022-08-25 15:08] bmarvinb opened #76 "Question about pending state"
How to separate state when I do first loading, and show skeleton, and second+ loading, when I don't want to hide my content, is it possible?

[2022-08-29 08:12] mlegenhausen commented on #76
Simply put your data in a separate variable and update it when the response was returned.

So instead of using a single `RemoteData` object would do some like this:

[code]

[2022-10-19 11:24] #76 closed

[2022-10-19 11:39] ZUGAZ commented on #73
`I was wonder if is possible to add a TaskRemoteData type. `
This repo is only about `RemoteData`. To implement `TaskRemoteData` here would be out-of-scope. Your code looks promising. I suggest to create a project for it :)